* {
    margin: 0;
    padding: 0;
   }
body {
    min-width: 1024px;
    /* width: 100%;
    height: 100%; */
    border-spacing: 0;
    border-collapse: collapse;
    background: 
    rgb(180, 170, 170);   
}
/* Класс, задающий размер страницы и выравнивание по центру */
.container {
    margin: auto;
    width: 1024px;
    display: block;
    position: relative;
}

header {
    background: #333;
    /* display: block; */
}
main {
    display: block;
}
footer {
    margin-top: 25px;
    background: #34e0a1;
    display: block;
    height: auto;
    
}

.menu{
    float: left;
    display: block;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 10px #333 solid;
    
}
.ref_button {
    text-decoration: none;
    outline: none;
}
.menu a{    
    color: black;
    margin: 5px 50px 0 0;

}

.ref_button a:hover{
    color: rgb(48, 42, 63);
    text-decoration: underline;
}

.ref_button a:visited {
    text-decoration: none;    
}

header .container div.pagename {
    position: absolute;
    left: 200px;
    bottom: 40px;
    color: white;
    font-size: 24pt;
}

header .container a{
    float: right;
    margin: 10px 10px 0 0;    
    text-decoration: none;
    outline: none;
    color: #34e0a1;
}
header .container a:hover{
    color: rgb(226, 236, 226);
}
header div.container span{
    color: rgb(255, 255, 255);
    display: block;    
}

div.mainpart textarea{
    display: block;
    resize: none;
}
div.mainpart div textarea.textarea_standart_size1{
    width: 250px;
    height: 100px;
}

img#type_foto{
    display: block;
    position: relative;    
    height: 172px;
    width: auto;
    float: right;
    border: solid 1px black;

}