* {
    margin: 0;
    padding: 0;
   }
body {
    min-width: 1024px;
    /* width: 100%;
    height: 100%; */
    border-spacing: 0;
    border-collapse: collapse;
    background: 
    rgb(180, 170, 170);   
}
/* Класс, задающий размер страницы и выравнивание по центру */
.container {
    margin: auto;
    width: 1024px;
    display: block;
    position: relative;
}

header {
    background: #333;
    display: block;
}
main {
    display: block;
}
footer {
    margin-top: 25px;
    background: #34e0a1;
    display: block;
    
}

.menu{
    float: left;
    display: block;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 10px #333 solid;
    
}

.menu a{
    text-decoration: none;
    outline: none;
    color: black;
    margin: 5px 50px 0 0;

}

.menu a:hover{
    color: rgb(48, 42, 63);
    text-decoration: underline;
}

.menu a:visited {
    /* color: initial; */
    text-decoration: none;    
}

header .container div.pagename {
    position: absolute;
    left: 200px;
    bottom: 40px;
    color: white;
    font-size: 24pt;
}

header .container a{
    float: right;
    margin: 10px 10px 0 0;    
    text-decoration: none;
    outline: none;
    color: rgb(12, 241, 12);
}
header .container a:hover{
    color: rgb(226, 236, 226);
}
header div.container span{
    color: rgb(255, 255, 255);
    display: block;    
}