.mainpart {
    /* float: left; */
    width: 100%;
}

/* Выделение вкладки страницы, на которой
сейчас находимся */
a#chosen_page {
    text-decoration: underline;
}

.menu {    
    box-sizing: border-box;
    width: 100%;
    float: left;
}

div#entity_table table{
    width: 100%;
    /* height: 150px; */
}

div#entity_table table,
div#entity_table table tr,
div#entity_table table td, 
div#entity_table table th{
    border: solid 1px black;
    border-spacing: 0;
    text-align: center;
}

.fixed_size {
    width: 100%;
    overflow: hidden;
    
}

div#tabs {
    margin-bottom: 10px;
}

div#view_type {
    margin-bottom: 50px;
}

img#type_foto{
    float: none;
}
div#img_box{
    float: right;
}
div#img_box div {
    text-align: center;
}
div#img_box div a{
    text-decoration: none;
    outline: none;
}

.mainpart div#view_type div input[type="submit"]{
    display: block;
    margin-top: 5px;
}

/* div#view_profile div div.profile_property{
    display: 

} */