{% load static %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DBU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style_edit.css' %}">    
  </head>
  <body>    
    <header>        
      <div class="container">
        {% if user.is_authenticated %}
          <div class="login_button">
            <span>Вы вошли как <a href="{% url 'profiles' uname %}">{{ user.get_username }}</a></span> 
            <a class="logout_button" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
          </div>            
        {% else %}
          <a class="login_button" href="{% url 'login' %}">Войти</a>
        {% endif %}             
        <div id="pagename"><a href="{% url 'index' %}">DBU</a></div>        
      </div>      
  </header>   
    <main>
        <div class="container">            
            <div class="menu">
                <a href="{% url 'index' %}" class="ref_button">Главная</a>
                <a href="{% url 'view' %}" class="ref_button" >Просмотр</a>
                <a href="{% url 'types' %}" class="ref_button" >Типы</a>
                <a href="{% url 'profiles' uname %}" class="ref_button">Профили</a>
                <a href="{% url 'edit' %}" class="ref_button" id="chosen_page">Добавление</a>
            </div>        
            <div class="mainpart">        
              <form action='{% url "proccess_edit_form" %}' method="POST" enctype="multipart/form-data" >
                {% csrf_token %}  
                <input type="text" value="1" id="hidden_counter" name="hidden_counter" hidden>              
                <input type="submit" class="submit_edit large_font" id="submit_edit" value="Внести изменения">
                <!-- Type -->
                
                <div class="shift_block">
                  <div>Тип</div> 
                  <div id="type_block">                  
                    <select class="large_font" name="chosen_type" id='chosen_type'>
                      {% for type_ in type_list %}
                        <option>{{ type_.name }}</option>         
                      {% endfor %}         
                    </select>
                    <input type="text" id="new_type" name="new_type" hidden/>                  
                    <label><input type="checkbox" id="new_type_cb" name="new_type_cb" /> Новый</label> 
                  </div>               
                </div>
                <!-- Type -->
                <!-- Блок хранит картинки для js -->
                <img class="delete" src="{% static 'mainapp/images/edit/delete.png' %}" name="img_0" hidden>
                <img class="delete" src="{% static 'mainapp/images/edit/add.png' %}" name="img_01" hidden>
                <img class="delete" src="{% static 'mainapp/images/edit/copy.png' %}" name="img_02" hidden>
                <!-- Блок хранит картинки для js -->
                <!-- Таблица добавляемых объектов -->
                <table id="content_table" class="relative_container">
                  <tr class="sticky">
                    <td>№</td>
                    <td>Серийный №</td>                    
                    <td>Дата изготовления</td>
                    <td>Этикетка</td>
                    <td class="short_content_td">Место хранения оригинала этикетки</td> 
                    <td>Дата поставки</td>                                                                               
                    <td>Документ поставки</td>
                    <td class="short_content_td"> Место хранения оригинала документа поставки</td>                                                                               
                    <td class="short_content_td">Примечание</td> 
                    <td title="Спецпроверка">С/П</td>
                    <td>Действие</td>                                                                               
                  </tr>
                  <tr class="new_entity_line" name="new_entity_block_1" >
                    <td name="object_num_1">1</td>
                    <td><input type="text" name="select_serial_num_1" title='Серийный №'/></td>                    
                    <td><input type="date" name="production_date_1" class='large_date'/></td>
                    <td>
                      <label class="custom-file-upload">
                        <input type="file" name="label_ref_1" class="link_content"/>
                      </label>
                    </td>
                    <td><textarea class="textarea_standart_size_content" name="loc_of_storage_original_label_1" class="loc_content"></textarea></td> 
                    <td><input type="date" name="date_of_delivery_1" class='large_date'/></td>                                                                               
                    <td><input type="file" name="delivery_document_1"class="link_content"/></td>
                    <td><textarea class="textarea_standart_size_content" name="loc_of_storage_original_delivery_document_1" class="loc_content" ></textarea></td>                                                                               
                    <td><textarea class="textarea_standart_size_content" name="note_1"></textarea></td>
                    <td>
                      <div class="profile_property">
                        <input type="checkbox" class="checkbox" name='special_check_1' id='special_check_1' />
                        <label for="special_check_1"></label>
                      </div>
                    </td> 
                    <td>
                      <div class="num_n_delete_block"><img class="delete" src="{% static 'mainapp/images/edit/delete.png' %}" title="Удалить" alt='Удалить' onclick="deleteBlock(1)" >                      
                      <div class="num_n_delete_block"><img class="delete" src="{% static 'mainapp/images/edit/copy.png' %}" title="Копировать" alt='Копировать' onclick="toogle_modal(1)" >  
                      <div class="num_n_delete_block"><img class="delete" src="{% static 'mainapp/images/edit/add.png' %}" title="Добавить после текущей строки" alt='Добавить' onclick="add_new_entity_block_after(1)" >  
                    </td>                                                                               
                  </tr>
                </table>                           
              </form>
              <div id="more_block">
                <img id="add" src="{% static 'mainapp/images/edit/add.png' %}" title="Добавить" alt='Добавить'>
              </div>
            </div>
        </div>
    </main>
    <div class="modal closed" id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog">
      <button class="close-button" id="close-button" title="Закрыть модальное окно" onclick="toogle_modal(0)">Отмена</button>
      <div class="modal-guts" role="document">
        
        <input type="text" value="" id="hidden_string_number" name="hidden_string_number" hidden>
        <input type="text" value="1" id="hidden_string_count" name="hidden_string_count" hidden>
        <h1>Копирование</h1>
        <p>Сколько раз?</p>
        <input type="text" id="copy_count"> 
        <button onclick="add_strings()">Добавить</button>      
      </div>
    </div>
    <div class="modal-overlay closed" id="modal-overlay"></div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> 
    <script src="{% static 'js/lodash.js' %}"></script>      
    <script src="{% static 'mainapp/js/edit/edit_manage.js' %}"></script>  
  </body>
</html>
  