{% load static %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DBU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style_edit.css' %}">    
  </head>
  <body>
    <header>        
      <div class="container">
        {% if user.is_authenticated %}
          <div class="login_button">
            <span>Вы вошли как <a href="{% url 'profiles' uname %}">{{ user.get_username }}</a></span> 
            <a class="logout_button" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
          </div>            
        {% else %}
          <a class="login_button" href="{% url 'login' %}">Войти</a>
        {% endif %}             
        <div id="pagename"><a href="{% url 'index' %}">DBU</a></div>        
      </div>      
  </header>   
    <main>
        <div class="container">            
            <div class="menu">
                <a href="{% url 'index' %}" class="ref_button">Главная</a>
                <a href="{% url 'view' %}" class="ref_button" >Просмотр</a>
                <a href="{% url 'profiles' uname %}" class="ref_button">Профили</a>
                <a href="{% url 'edit' %}" class="ref_button" id="chosen_page">Добавление</a>
            </div>        
            <div class="mainpart">
              <h3>Добавлено {{ added_num }} наименований.</h3>
              <div><a href="{% url 'edit' %}">Вернуться</a></div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>      
    <script src="{% static 'mainapp/js/edit/edit_manage.js' %}"></script>  
  </body>
</html>
  