{% load static %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DBU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style_index.css' %}">
  </head>
  <body>
    <header>        
        <div class="container">
          {% if user.is_authenticated %}
            <div class="login_button">
              <span>Вы вошли как <a href="{% url 'profiles' uname %}">{{ user.get_username }}</a></span> 
              <a class="logout_button" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
            </div>            
          {% else %}
            <a class="login_button" href="{% url 'login' %}">Войти</a>
          {% endif %}             
          <div id="pagename"><a href="{% url 'index' %}">DBU</a></div>        
        </div>      
    </header>  
    <main>
      <div class="container">      
        <div class="menu">
          <a href="{% url 'index' %}" class="ref_button" id="chosen_page">Главная</a>
          <a href="{% url 'view' %}" class="ref_button" >Просмотр</a>
          <a href="{% url 'profiles' uname %}" class="ref_button">Профили</a>
          <a href="{% url 'edit' %}" class="ref_button" >Добавление</a>
        </div> 
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action={% url "proccess_index_form" %} method="post">  
        {% csrf_token %}                   
          <div class="mainpart">
            <img id="type_foto" src="{{ chosen_type.img_link }}" alt="Фото типа">
            <div>
              <div>Тип</div>
              <select name="type" title='Тип' id="select_type">              
                <option disabled>Выберите тип!</option>
                {% for type_ in type_list %}                
                  <option {% if type_.name == chosen_type.name %}selected{% endif %}
                  >{{ type_.name }}</option>                  
                {% endfor %}
              </select>
              <div>Дополнительно</div>
              <textarea id="additional_info" class="textarea_standart_size1" name="additional_info" readonly>{{ chosen_type.additional_info }}</textarea>
              <div>
                <label for="loc_of_soft">ПО хранится:<br></label>
                <textarea class="textarea_standart_size3" id="loc_of_soft" name="loc_of_soft" readonly>{{ chosen_type.soft_link }}</textarea></div>
            </div>              
            <div>
              <div id="serial_num_block">
                <div>Серийный №</div>
                <select name="serial_num" title='Серийный №' id="select_serial_num">              
                  <option disabled>Выберите серийный №!</option>                
                  {% for serial_num_ in serial_num_list %}                
                    <option {% if serial_num_.spec_check == True %}class="green_color"{% endif %}{% if serial_num_.serial_num == chosen_entity.serial_num  %}selected{% endif %}
                    >{{ serial_num_.serial_num }}</option>                  
                  {% endfor %}
                </select>
                <img id="okay" src= {% if chosen_entity.spec_check == True %}"{% static 'mainapp/images/index/okay.png' %}"{% else %}"{% static 'mainapp/images/index/no.png' %}"{% endif %} title="Признак спецпроверки" alt='Признак спецпроверки'>
                <a href="{% url 'view_serial_num' chosen_entity.entity_name.name chosen_entity.serial_num %}"><img id="history" src={% static 'mainapp/images/index/history.png' %} title="История" alt="История"></a>    
                  <div>Примечание:</div>
                  <textarea class="textarea_standart_size3" id="note" name="note" readonly>{{ chosen_entity.note }}</textarea>
              </div>
            </div>
            <div id="seans_block">
              <div class="seans">
                <div id="seans_table">
                  <table>
                    <caption>Данные последнего сеанса</caption>
                    <tr>
                      <th><input class="submit_input" type="text" name="number" value="{{ history_sample.number }}" 
                         readonly></th>                
                      <th>Взятие</th>
                      <th>Сдача</th>                
                    </tr>
                    <tr>
                      <td class="text_center">Дата</td>
                      <td class="text_center"><input type="date" name="date_taken" id="date_taken" value="{{ history_sample.date.taken|date:'Y-m-d' }}" readonly></td>
                      <td class="text_center"><input type="date" name="date_return" id="date_return" value="{{ history_sample.date.return|date:'Y-m-d' }}"" readonly></td>
                    </tr>
                    <tr class="child_center">
                      <td class="text_center">Пользователь</td>
                      <td>
                        {% if chosen_entity.status == True %}                        
                        {% if user.is_staff %}
                              <select name="user_taken">
                                {% for user_ in history_sample.user.taken %}                
                                  <option>{{ user_.username }}</option>                  
                                {% endfor %}                          
                              </select>
                          {% endif %}
                        {% else %}
                          <input class="submit_input" type="text" name="user_taken" value="{{ history_sample.user.taken }}" readonly>                                                 
                        {% endif %}                              
                      </td>
                      <td>
                        {% if user.is_staff %}                  
                        {% else %}
                          {{ history_sample.user.return }}
                          {% if chosen_entity.status == True %}
                          Сдан
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td class="text_center">Администратор</td>
                      {% if chosen_entity.status == False %}
                      {% if user.is_staff %}
                        <td><input class="submit_input" type="text" name="admin_taken" value="{{ history_sample.admin.taken }}" readonly></td>
                        <td><input class="submit_input" type="text" name="admin_return" value="{{ user.get_username }}" readonly></td>
                        {% else %}
                          <td><input class="submit_input" type="text" name="admin_taken" value="{{ history_sample.admin.taken }}" readonly></td>
                          <td><input class="submit_input" type="text" name="admin_return" value="" readonly></td>                            
                        {% endif %}
                      {% else %}
                      {% if user.is_staff %}
                          <td><input class="submit_input" type="text" name="admin_taken" value="{{ user.get_username }}" readonly></td>
                          <td><input class="submit_input" type="text" name="admin_return" value="" readonly></td>
                        {% else %}
                          <td><input class="submit_input" type="text" name="admin_taken" value="" readonly></td>
                          <td><input class="submit_input" type="text" name="admin_return" value="" readonly></td>                            
                        {% endif %}
                      {% endif %}
                    </tr>
                  </table>
                </div>
                <div id="seans_data">
                  <div>
                    <caption>Комментарий</caption>
                    <textarea class="textarea_standart_size2" name="comment"
                    {% if user.is_staff %}
                    {% else %}                     
                    readonly
                    {% endif %}
                    >{{ history_sample.note }}</textarea>
                  </div>
                  <div>
                    <caption>Куда</caption>
                    <textarea class="textarea_standart_size2" name="location" 
                    {% if user.is_staff %}
                    {% else %}                     
                    readonly
                    {% endif %}
                    required>{{ history_sample.place }}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <input type="text" hidden="true" name='free' id="free"
              {% if chosen_entity.status == True %}
              value="1"
              {% else %}
              value="0"
              {% endif %}>
              {% if user.is_staff %}
            <div class="process_buttons">
              <input type="submit" value=
              {% if chosen_entity.status == True %}
              "Выдать"
              {% else %}
              "Принять"
              {% endif %}
              >
            </div>
            {% endif %}
          </div>           
      </form>       
      </div>
    </main>  
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'mainapp/js/index/index_manage.js' %}"></script>  
  </body>
</html>
