{% load static %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DBU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style_view.css' %}">
  </head>
  <body>
    <header>        
        <div class="container">
          {% if user.is_authenticated %}
            <div class="login_button">
              <span>Вы вошли как <a href="{% url 'profiles' %}">{{ user.get_username }}</a></span> 
              <a class="logout_button" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
            </div>
          {% else %}
            <a id="login_button"href="{% url 'login' %}">Войти</a>
          {% endif %}             
          <div id="pagename"><a href="{% url 'index' %}">DBU</a></div>        
        </div>      
    </header> 
    <main>
        <div class="container">            
            <div class="menu">
                <a href="{% url 'index' %}" class="ref_button">Главная</a>
                <a href="{% url 'view' %}" class="ref_button" >Просмотр</a>
                <a href="{% url 'profiles' %}" class="ref_button" id="chosen_page">Профили</a>
                <a href="{% url 'edit' %}" class="ref_button" >Добавление</a>
            </div>
            
            <div class="mainpart">
              <div>Пользователь <select>
                                  {% for user_ in user_list %}
                                    <option {% if  user.get_username == user_.username %} checked{% endif %}>{{ user_.username }}</option>
                                  {% endfor %}
                                </select>

              </div>
                
            </div>
        </div>
    </main>  
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>      
    <script src="{% static 'mainapp/js/view_type/table_manage.js' %}"></script>    
    <script src="{% static 'mainapp/js/view_type/view_type_manage.js' %}"></script>  
  </body>
</html>
  