{% load static %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DBU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style_view.css' %}">
  </head>
  <body>
    <header>        
        <div class="container">
          {% if user.is_authenticated %}
            <div class="login_button">
                <span>Вы вошли как <a href="{% url 'profiles' %}">{{ user.get_username }}</a></span> 
                <a class="logout_button" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
            </div>            
          {% else %}
            <a class="login_button" href="{% url 'login' %}">Войти</a>
          {% endif %}             
          <div id="pagename"><a href="{% url 'index' %}">DBU</a></div>        
        </div>      
    </header>  
    <main>
        <div class="container">
            
            <div class="menu">
                <a href="{% url 'index' %}" class="ref_button">Главная</a>
                <a href="{% url 'view' %}" class="ref_button" id="chosen_page">Просмотр</a>
                <a href="{% url 'profiles' %}" class="ref_button">Профили</a>
                <a href="{% url 'edit' %}" class="ref_button" >Добавление</a>
            </div>
        
            <div class="mainpart">
                <div id="tabs"><a href="{% url 'view' %}">Список</a>><a href="{% url 'view_type' type %}">{{ type }}</a>><a href="{% url 'view_serial_num' type serial_num %}">{{ serial_num }}</a></div>              
                <form action={% url "proccess_type_form" %} method="POST" enctype="multipart/form-data">                
                    {% csrf_token %}               
                    <div id="view_type">
                        <div id="img_box">
                            <img id="type_foto" src='{{ type_sample.img_link }}' alt="Фото типа" />                          
                            {% if user.is_authenticated %}                                                    
                            <div>                                              
                              <input id="id_image" type="file" name="img_file" class="form-control" />                            
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <div>Тип</div>
                            <select name="type_" title='Тип' id="select_type">              
                                <option disabled>Выберите тип!</option>
                                {% for type_ in type_list %}                
                                  <option {% if type_.name == type_sample.name %}selected{% endif %}
                                  >{{ type_.name }}</option>                  
                                {% endfor %}
                              </select>
                            <div>Дополнительно</div>
                            <textarea class="textarea_standart_size1" name="additional_info"
                            {% if not user.is_authenticated %}
                            readonly
                            {% endif %}
                            >{{ type_sample.additional_info }}</textarea>
                            <div>
                                <label for="loc_of_soft">ПО хранится:<br></label>
                                <textarea class="textarea_standart_size3" id="loc_of_soft" name="loc_of_soft"
                                {% if not user.is_authenticated %}
                                readonly
                                {% endif %}
                                >{{ type_sample.soft_link }}</textarea>                                                        
                            </div>        
                              
                        </div> 
                        {% if user.is_authenticated %}
                        <input type="submit" id="submit_type_change" value="Сохранить изменения для типа">
                        {% endif %}
                    </div>
                </form>
                <form action={% url "proccess_profile_form" %} method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}   
                    <div class="rel_pos">
                        <h2>Анкета</h2>
                        {% if user.is_authenticated %}
                        <input type="submit" class="submit_change" id="submit_profile_change" 
                        value="Сохранить изменения в Анкете" >
                        {% endif %}
                    </div>
                    <div id="view_serial_num">
                        <div class="one_line_blocks">
                        <div>Серийный №</div>
                        <select name="serial_num" title='Серийный №' id="select_serial_num">              
                            <option disabled>Выберите серийный №!</option>
                            {% for one_entity in entity_list %}                
                                <option {% if one_entity == Entity %}selected{% endif %}
                                >{{ one_entity.serial_num }}</option>                  
                            {% endfor %}                           
                        </select>                      
                        </div>
                        <div class="one_line_blocks">
                            <div class="profile_property">
                                <input type="checkbox" class="checkbox" id="special_check" 
                                name='special_check' {% if Entity.spec_check %}checked="checked"{% endif %}
                                {% if not user.is_authenticated %}disabled{% endif%}>
                                <label for="special_check"> Спецпроверка</label></div>                                                       
                        </div>
                        <div class="one_line_blocks">
                            <div class="profile_property">
                                <input type="checkbox" class="checkbox" id="available" 
                                name="available" {% if Entity.status %}checked="checked"{% endif %} 
                                {% if not user.is_authenticated %}disabled{% endif%}>
                                <label for="available"> Свободен</label>
                            </div>                             
                        </div>
                    </div>                
                    <div id="view_profile">
                        <div>                                                                        
                            <div class="profile_property">                                
                                </label>
                                    <input type="date" id="production_date" name="production_date" 
                                    value="{{ Entity.date_made|date:'Y-m-d' }}"
                                    {% if not user.is_authenticated %}
                                    readonly
                                    {% endif %}/> Дата изготовления
                                <label for="production_date"> 
                            </div>
                            <div class="profile_property">
                                <label for="label_ref">Этикетка: </label>
                                <a href="{{ Entity.label }}" download>{% if Entity.label %}Скачать{% endif %}</a>
                                {% if user.is_authenticated %}
                                    <input type="file" id="label_ref" name="label_ref">
                                {% endif%}
                            </div>                        
                            <div class="profile_property">
                                <label for="loc_of_storage_original_label">Место хранения оригинала этикетки: </label>
                                <input type="text" id="loc_of_storage_original_label" name="loc_of_storage_original_label"
                                value="{{ Entity.label_original }}"
                                {% if not user.is_authenticated %}
                                    readonly
                                {% endif %}>
                            </div>                        
                            <div class="profile_property"><label>
                                <input type="date" id="date_of_delivery" name="date_of_delivery"
                                value="{{ Entity.date_delivered|date:'Y-m-d' }}"
                                {% if not user.is_authenticated %}
                                    readonly
                                {% endif %}/>Дата поставки</label for="date_of_delivery">
                            </div>
                            <div class="profile_property">
                                <label for="delivery_document">Документ поставки: </label>
                                <a href="{{ Entity.doc_delivered }}" download>{% if Entity.doc_delivered %}Скачать{% endif %}</a>
                                {% if user.is_authenticated %}
                                    <input type="file" id="delivery_document" name="delivery_document">
                                {% endif%}
                            </div>
                            <div class="profile_property">
                                <label for="loc_of_storage_original_delivery_document">Место хранения оригинала документа поставки: </label>
                                <input type="text" id="loc_of_storage_original_delivery_document" name="loc_of_storage_original_delivery_document" 
                                value='{{ Entity.doc_delivered_original }}'
                                {% if not user.is_authenticated %}
                                    readonly
                                {% endif %}>
                            </div>
                            <div class="profile_property">
                                <label for="note">Примечание: </label>
                                <textarea class="textarea_standart_size1" name="note" id="note"
                                    {% if not user.is_authenticated %}
                                    readonly
                                    {% endif %}
                                    >{{ Entity.note }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>                
                    <div class="rel_pos">
                        <h2>История</h2>
                        {% if user.is_authenticated %}
                        <form action={% url "proccess_history_form" %} method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}    
                            <div id="stelth_block" hidden>                            
                                <input type="submit" class="submit_change" id="submit_history_change" value="Сохранить изменения в истории">
                                <h4>Редактирование</h4>
                                <table class="view_history" id="stelth_table">
                                    <tr>           
                                        <th title="Номер сеанса" rowspan="2">Сеанс №</th>
                                        <th colspan="2" title="Дата взятия и возвращения">Дата</th>
                                        <th title="Место взятия" rowspan="2">Куда</th>
                                        <th title="Имя пользователь" rowspan="2">Пользователь</th>                
                                        <th colspan="2" title="Имя администратора выдачи и приема">Администратор</th>
                                        <th title="Комментарий к сеансу" rowspan="2">Комментарий</th>
                                    </tr>
                                    <tr>    
                                        <!-- Подразделы пунктов таблицы -->
                                        <td class="text_center">Взятие</td>
                                        <td class="text_center">Сдача</td>                                                    
                                        <td class="text_center">Выдача</td>
                                        <td class="text_center">Прием</td>                    
                                    </tr>
                                    <tr class="child_center">
                                        <td class="text_center"><textarea id="seans_number" name="seans_number" class="history_edit_table text_center" readonly></textarea></td>
                                        <td><input type="date" id="date_taken" name="date_taken"/></td>
                                        <td><input type="date" id="date_return" name="date_return"/></td>
                                        <td><textarea id="place" name="place" class="history_edit_table"></textarea></td>
                                        <td>
                                            {% if user.is_authenticated %}
                                                <select name="user_">
                                                    {% for user_ in users_list %}                                                                
                                                        <option> {{ user_.username }}</option>                                                                  
                                                    {% endfor %}                          
                                                </select>
                                            {% endif %}

                                        </td>
                                        <td>
                                            {% if user.is_authenticated %}
                                                <select name="admin_taken">
                                                    {% for user_ in users_list %}    
                                                    {% if user_.is_staff %}            
                                                        <option> {{ user_.username }}</option>   
                                                    {% endif %}               
                                                    {% endfor %}                          
                                                </select>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.is_authenticated %}
                                                <select name="admin_return">
                                                    {% for user_ in users_list %}    
                                                    {% if user_.is_staff %}            
                                                        <option> {{ user_.username }}</option>   
                                                    {% endif %}               
                                                    {% endfor %}                          
                                                </select>
                                            {% endif %}

                                        </td>
                                        <td><textarea id="comment" name="comment" class="history_edit_table"></textarea></td>
                                    </tr>
                                </table>  
                            </div>
                            <input type="text" name="hidden_type" value="{{ type_sample.name }}" hidden />
                            <input type="text" name="hidden_serial_num" value="{{ Entity.serial_num }}" hidden />
                        </form>
                        {% endif %}
                    </div>                                
                <div>                 
                    <table class="view_history" id="open_table">
                        <tr>           
                            <th title="Номер сеанса" rowspan="2">Сеанс №</th>
                            <th colspan="2" title="Дата взятия и возвращения">Дата</th>
                            <th title="Место взятия" rowspan="2">Куда</th>
                            <th title="Имя пользователь" rowspan="2">Пользователь</th>                
                            <th colspan="2" title="Имя администратора выдачи и приема">Администратор</th>
                            <th title="Комментарий к сеансу" rowspan="2">Комментарий</th>
                            {% if user.is_authenticated %}
                                <th title="Выберите для редактирования" rowspan="2">Править</th>
                            {% endif %}
                        </tr>
                        <tr>    
                            <!-- Подразделы пунктов таблицы -->
                            <td class="text_center">Взятие</td>
                            <td class="text_center">Сдача</td>                                                    
                            <td class="text_center">Выдача</td>
                            <td class="text_center">Прием</td>                    
                        </tr>                          
                        {% for history_sample in history_list %}                
                            <tr class="child_center">
                                <td class="text_center">{{ history_sample.record_num }}</td>
                                <td><input type="date" value="{{ history_sample.date_taken|date:'Y-m-d' }}"/></td>
                                <td><input type="date" value="{{ history_sample.date_return|date:'Y-m-d' }}"/></td>
                                <td>{{ history_sample.place }}</td>
                                <td>{{ history_sample.user_taken }}</td>
                                <td>{{ history_sample.admin_taken }}</td>
                                <td>{{ history_sample.admin_return }}</td>
                                <td>{{ history_sample.comment }}</td>
                                {% if user.is_authenticated %}
                                    <td class="text_center">
                                        <input type="radio" name="his_radio" value="{{ history_sample.record_num }}"> 
                                    </td>
                                {% endif %}
                            </tr>        
                        {% endfor %}                                         
                    </table>
                </div>
            </div>
        </div>
    </main> 
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script>   
    <script src="{% static 'mainapp/js/view_serial_num/view_serial_num_manage.js' %}"></script>    
  </body>
</html>
  