* {
    margin: 0;
    padding: 0;
   }
body {
    min-width: 1024px;
    border-spacing: 0;
    border-collapse: collapse;
    background: 
    rgb(180, 170, 170); 
    margin-bottom: 50px; 
}
/* Класс, задающий размер страницы и выравнивание по центру */
.container {
    margin: auto;
    width: 1024px;
    display: block;
    position: relative;
}

header {
    background: #333;
    display: block;
}
main {
    display: block;
}

.menu{
    /* float: left; */
    display: block;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 10px #333 solid;
    
}
.ref_button {
    text-decoration: none;
    outline: none;
}
.menu a{    
    color: black;
    margin: 5px 50px 0 0;

}

.ref_button:hover{
    color: rgb(58, 10, 190);
}

.ref_button:visited {
    text-decoration: none;  
    outline: none;
}

header .container div#pagename {
    height: 76px;
    padding: 20px 0 10px 10px;
    color: white;
    font-size: 40pt;
}

header .container a{        
    text-decoration: none;
    outline: none;
    color: #34e0a1;
}

.login_button{
    float: right;
    margin: 10px 10px 0 0;
}


header .container a:hover{
    color: rgb(226, 236, 226);
}
header div.container span{
    color: rgb(255, 255, 255);
    display: block;    
}

div.mainpart textarea{
    display: block;
    resize: none;
}
div.mainpart div textarea.textarea_standart_size1{
    width: 300px;
    height: 92px;
}

div.mainpart div textarea.textarea_standart_size3{
    width: 300px;
    height: 63px;
}

img#type_foto{
    display: block;
    position: relative;    
    height: 267px;
    width: auto;
    float: right;
    border: solid 1px black;
}

/* Стили для чекбоксов */

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}

.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: rgb(128, 17, 17);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #34e0a1;
}
.checkbox:checked + label:after {
	left: 26px;
}

/* Настройки textarea */
textarea {
    padding: 5px;
}

.text_center{
    text-align: center;
}
tr.child_center td{
    text-align: center;
}

/* Выделение вкладки страницы, на которой
сейчас находимся */
a#chosen_page {
    text-decoration: underline;
}

.one_line_blocks {
    display: inline-block;
    margin-right: 30px;
}

.one_line_blocks div.profile_property {
    margin-top: 8px;
}

/* Кнопка "Выйти" */
.logout_button{
    float: right;
    margin: 5px 0 0 0;
    color: rgb(128, 17, 17);
}